.channelsName{
    padding: 0px 2%;
    background-color: #060707;
}
.channels{
    width: 100%;
    padding: 30px 2%;
    background-color: #060707;
    display: flex;
    column-gap: 10px;
}

.channels > img{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-out;
}
.channels>img:hover{
    transform: scale(1.1);
}