.tags{
    width: 100%;
    height: 75px;
    background-color: #060707;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 0px 2%;
}

.tag{
    padding: 5px 15px;
    background-color: #363636;
    width: fit-content;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: .3s;
    cursor: pointer;
}

.tag:hover{
    background-color: #676767;
    transform: scale(1.1);
}